# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=ManualMate
POSTGRES_PORT=5432

# Redis Credentials
REDIS_PORT=6379

# RabbitMQ Credentials
RABBITMQ_USER=admin
RABBITMQ_PASS=your_rabbitmq_password_here
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Third Party APIs
HUGGINGFACE_API_TOKEN=your_huggingface_token_here
GEMINI_API_TOKEN=your_gemini_token_here
